<section class="wrapper">
  <div>
    <div class="panel-body" style="width: 100%;">
      <div class="w3ls-graph">
        <div class="agileinfo-grap">
          <div class="agileits-box">
            <header class="agileits-box-header clearfix">
              <h3>TABBLE BootStrap简单表格</h3>
              <div class="toolbar">
              </div>
            </header>
            <div class="agileits-box-body clearfix">
              <div id="hero-area"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="panel-body">
    <div class="panel-heading">用户列表信息</div>
    <div class="panel-body no-padding" style="background-color: #fbfffb">
      <table class="table no-margin">
        <thead>
        <tr>
          <th class="col-md-2">用户名</th>
          <th class="col-md-2">邮箱</th>
          <th class="col-md-2">手机号</th>
          <th class="col-md-2">状态</th>
          <th class="col-md-2">操作</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let user of users">
          <td>{{user.username}}</td>
          <td>{{user.email}}</td>
          <td>{{user.tel}}</td>
          <td>
            <div class="progress progress-md no-margin">
              <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0"
                   aria-valuemax="100" style="width: 40%">
                <span class="sr-only">40% Complete (success)</span>
              </div>
            </div>
          </td>
          <td class="actions-hover actions-fade">
            <a class="operation-links" (click)='renderForm({data: user, title: "编辑用户"})'><i
              class="fa fa-pencil"></i></a>
            <a class="delete-row operation-links"><i class="fa fa-trash-o"></i></a>
          </td>
        </tr>
        <tr class="text-center" *ngIf="!users">
          <td colspan="4">
            <p class="error-tip-color">暂无数据</p>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="panel-body">
    <div class="ibox svg-map-area">
      <div class="ibox-title"><h5>BootStrap简单表格</h5></div>
      <div class="ibox-content">
        <p><code>bootStrap</code>|<code>angular</code></p>
        <div class="table-responsive">
          <table class="table table-bordered table-striped">
            <thead>
            <tr>
              <th>名称</th>
              <th>类型</th>
              <th>值</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td><code>*ngFor</code></td>
              <td><code>string</code></td>
              <td>angular循环指令<code>let user of users</code>,需要在<code>Component</code>中定义<code>users</code></td>
            </tr>
            <tr>
              <td><code>{{ '{{' }}user.username</code> <code>{{ '\}\}' }}</code></td>
              <td><code>string</code></td>
              <td>使用大括号获取值</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
