<div id="modalHead">
  <button class="btn btn-primary btn-lg" data-toggle="modal" id="btn{{selector}}" (click)="render()" >{{characters}}</button>

  <div class="modal fade" id="{{selector}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
       aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="myModalLabel">{{title}}</h4>
        </div>
        <div class="modal-body" id="{{selector}}Content">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" (click)="closedCallback()" data-dismiss="modal">关闭</button>
          <button type="button" class="btn btn-primary" (click)="commitCallback()">提交更改</button>
        </div>
      </div>
    </div>
  </div>
</div>
